
body {
    background: #103164;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    height: 450px;
    width: 400px;
    position: relative;
  }
  
  .container * { /*to select all elements or an specific element in this case*/
    position: absolute;
  }
  
  .house {
    top: 50%;
    left: 69px;
    height: 200px;
    width: 264px;
    background: rgb(170, 154, 12);
}

  .house::before { /* to insert something before the content of each element*/
    content: '';
    position: absolute;
    top: -95px;
    left: 34px;
    height: 184px;
    width: 192px;
    background: rgb(170, 154, 12);
    transform: rotate(44deg);
    border-top: 5px solid #de00ff;
    border-left: 5px solid #de00ff;
    z-index: 2;
  }
  .house::after {  /* to insert something after the content of each element*/
    content: '';
    position: absolute;
    top: -75px;
    left: 15px;
    height: 70px;
    width: 30px;
    background: rgb(170 154 12);
    z-index: 1;
    border-top: 5px solid #de00ff;
    border-left: 2px solid #DE00FE;
    border-right: 2px solid #de00ff;
  }

  .window {
    top: 33px;
    left: 25px;
    height: 80px;
    width: 70px;
    background: #96ebff;
    z-index: 3;
    border-top: 7px solid rgb(190, 103, 31);
    border-bottom: 7px solid rgb(190, 103, 31);
  }

  .window::before,
  .window::after {
    content: '';
    position: absolute;
    background: silver;
  }

  .window::before {
    top: 0;
    left: 50%;
    height: 99%;
    width: 4px;
  }

  .window::after {
    top: 50%;
    height: 4px;
    width: 100%;
  }

  .door {
    top: 70px;
    left: 150px;
    height: 128px;
    width: 70px;
    background: rgba(255, 115, 0, 0.678);
    z-index: 3;
    border-top: 2px solid rgb(190 103 31);
    border-left: 2px solid rgb(190 103 31);
    border-right: 2px solid rgb(190 103 31);
  }

  .door::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid rgb(170 154 12);
    background: #96ebff;
  }
